ion-content {
  --background: var(--ion-color-success);
  font-family: "Times New Roman", Times, serif;
}
.swiper {
  background-color: white;
  height: 100%;
  max-width: 800px;
}
.swiper-slide-design {
  display: block;
  margin-bottom: 64px;
  background-color: white;
}

.swiper-slide-design {
  h1,
  h2 {
    margin: 0 0 0 0;
    color: var(--ion-color-primary);
  }
}
.swiper-slide-design > p {
  font-style: italic;
  font-size: 22px;
  padding: 1em 1em 1em 1em;
}

.swiper-slide-design > {
  ion-icon {
    color: var(--ion-color-success);
    font-size: 48px;
  }

  ion-icon[name="close"] {
    float: right;
    color: var(--ion-color-primary);
    font-size: 48px;
  }
}

.swiper-slide-design > img {
  max-height: 50%;
  max-width: 60%;
  margin: 64px 0;
}
